dist
node_modules
out-tsc
*.tgz
.DS_Store
.idea

# ci config for local ci build
.circleci/local-config.yml

# yarn stuff
.yarnclean
yarn-error.log

# Sonatype
.sonatype-config

# Editor / IDES
.vscode/settings.json